@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 162, 175);
}
h2 {
    color: rgb(250, 110, 133)
}
link

a {
    text-decoration: none;
    color: white
}

button {
    cursor: pointer;
    background: rgb(255, 39, 62);
    padding: 15px;
    font-size: 16px;
    border: 0;
    border-radius: 20px;

}
p {
    border-left-color: black;
}
@media(max-width: 500px){
    h1{
        font-size: 150%;
        width: 50%
    }

    h2{
        font-size: 150%;

    }

    img{
        max-width: 200px;
        max-height: 300px;
        display: block;
    }

    p{
       text-align: justify;
        width: 80%;
    }

    button{
        margin-left: 25%;
    }

}