@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Roboto', sans-serif;
    color: #020CF7;
    font-weight: 400;
    font-size: 14px;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif; 
}

.main__content {
    width: 70%;
    padding: 40px 8px;
}

.main__post {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.main__title {
    text-decoration: none;
    font-size: 22px;
    color: #464646;
    letter-spacing: 1.5;
}

.main__title:hover {
    color: #020CF7;
}

.main__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px 0;
}

.main__date {
    margin: 10px;
    font-size: 12px;
    font-style: italic;
}

.main__tag {
    font-size: 14px;
    padding: 5px 7px;
    color: #020CF7;
    border: 1px solid #020CF7;
    border-radius: 15px;
}

.main__details {
    border: 1px solid #eaeaeb;
}

.main__img {
    width: 100%;
}

.main__description {
    padding: 40px 0 25px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.main__btn {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.5;
    color: #020CF7;
    background-color: #FABE50;
    padding: 10px 20px;
    transition: .3s;
    
}

.main__btn:hover {
    color: #FABE50;
    background-color: #020CF7;
}

.main__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaeaeb;
    margin-top: 30px;
}

.main__author {
    width: 50%;
    border-right: 1px solid #eaeaeb;
}

.main__p {
    font-size: 14px;
    color: #464646;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main__comments {
    width: 50%;
}

.main__a {
    text-decoration: none;
    font-size: 14px;
    color: #464646;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main__a:hover {
    color: #020CF7;
}

.main__sidebar {
    width: 25%;
    padding: 40px 10px;
}

.sidebar__top{
    border: 1px solid #eaeaeb;
    padding: 15px 20px;
}

.sidebar__title {
    background-color: #FABE50;
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    letter-spacing: 1.5px;
}

.sidebar__posts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
}

.sidebar__list:not(:last-child) {
    border-bottom: 1px dashed #eaeaeb;
}

.sidebar__img {
    width: 40%;
}

.sidebar__details {
    width: 50%;
    padding-left: 10px;
}

.sidebar__post-title {
    font-size: 14px;
    color: #020CF7;
    text-decoration: none;
}

.sidebar__post-title:hover {
    text-decoration: underline;
}

.sidebar__post-date {
    font-size: 12px;
    margin: 5px 0 0 0;
}